{% extends 'all-projects/base.html' %}
{% load bootstrap4 %}
 {% block content %}
 <!DOCTYPE html>
 <html>
 
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<style>
  .profile{
   border-radius: 700px;
   width: 210px;
   height: 200px;
 }
  .hr{ 
      display: block;
      margin-left:200px;
      margin-right: 200px;
      border-style: inset;
      border-width: 1px;
  } 
  footer{
      background-color:transparent;
      left: 0;
      bottom: 0;
      width: 100%;
      color:rgb(8, 8, 8);
      text-align: center;
      font-size: 10px;
  }
</style>
<body>
        <div class="container">
            <div class="view overlay">
                <img src="{{images.image.url}}" width='100%' height='450vh'>
                <div class="rates"></div>
                <div class="mask flex-center rgba-black-light"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                        <h3>Content</h3> <hr class="bg-default"> <br> <h4>{{content}}</h4>
                </div>
                <div class="col-md-3">
                                <h3>Usability</h3> <hr class="bg-success"> <br> <h4>{{usability}}</h4>
                </div>
                <div class="col-md-3">
                                <h3>Design</h3> <hr class="bg-info"> <br> <h4>{{design}}</h4>
                </div>
                <div class="col-md-3">
                                <h3>Average</h3> <hr class="bg-danger"> <br> <h4>{{average}}</h4>
                </div>  
            </div>

                {% if user.is_authenticated %}
                <button class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#VotesForm">Rate</button>
                <a href="{{images.url}}" class="btn btn-pink btn-md pull-right " target="_blank">LIVE SITE <i
                        class="far fa-chevron-double-right"></i> </a>
                {% if user.id not in auth %}
                <br>
               
<div class="modal fade" id="VotesForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Vote</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
                <div class="form animated slideInDown">
                                <form action="/projects/{{projects.id}}" method="POST">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        <button class="btn btn-outline-info modal-footer d-flex justify-content-center" type="submit">Submit <i class="fas fa-paper-plane-o ml-1"></i> </button>
                                </form>
                        </div>
      </div>
 
      </div>
    </div>
  </div>
</div>

                {%else%}
                <p class="alert alert-success">Thanks for your Votes</p>
                {%endif %}
                {% else %}
                <a href="/accounts/login/" class="btn btn-outline-info ">Login to vote</a>
                {% endif %}
        </div>
        <div class="card comments">
                <div class="card-header">
                        <h4> Total Votes: {{all|length}} </h4>
                </div>
                <div class="list-group">
                        <ul class="list-group">
                                {%if all%}
                                <table id='comm' class="table">
                                        <th>Voters</th>
                                        <th>Rating</th>
                                        {%for you in all%}<tr>
                                                <td> <img src="{{you.user.profile.profile_photo.url}}" alt="" width='30px' height="30px">  {{you.user}}</td>
                                                <td>
                                                        <div class="design">
                                                                <a href="" class="scores">{{you.design}}.0</a>
                                                                <a href="">{{you.usability}}.0</a>
                                                                <a class='b' href="">{{you.content}}.0</a>
                                                        </div>
                                                </td>
                                                {%endfor%}
                                </table>
                                {%else%}
                                <li class="list-group-item alert alert-info">No votes Available</li>
                                {%endif%}
                        </ul>
                </div>
        </div>
        </div>
        </div>
        <div>
                
<br><br>
<div>
    <footer>
        <hr class="hr">
        <p>@2019 by ____ProDevloper.Proudly Created</p>
    </footer>
</div>  
</body>
</html>
{% endblock %}
