<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
// SideNav Initialization
$(".button-collapse").sideNav();

new WOW().init();
</script>
<style>
    #cool:hover{
        background-color: rgb(3, 233, 233);
    }
</style>
</head>
<body>
<div class="bs-example">
    <p style="text-align: center;">The awards of design, creativity and innovation on the internet<span style="float: right;margin-right: 20px;">
      <a href="https://www.instagram.com/awwwards/" style="color: black;"><i class="fa fa-instagram" aria-hidden="true"></i></i></a>
      <a href="https://twitter.com/awwwards/" style="color: black;"><i class="fa fa-twitter" aria-hidden="true"></i></i></a>
      <a href="https://www.facebook.com/awwwards/" style="color: black;"><i class="fa fa-facebook" aria-hidden="true"></i></a></span></p>      
          <!-- Sidebar navigation -->
          <div id="slide-out" class="side-nav sn-bg-4 fixed">
              <div class="sidenav-bg mask-strong"></div>
            </div>
            <!--/. Sidebar navigation -->
      <nav class="navbar navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav navbar-light bg-light">
          <div class="float-left">
              <a href="{%url 'page'%}" data-activates="slide-out" class="button-collapse" style="color: black;"><i class="fa fa-bars" aria-hidden="true"></i>  MENU</a>
            </div>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" style="margin-left: 5px;">
            <div class="navbar-nav">
                <form class="form-inline" action="{% url 'search_results' %}">
                <div class="input-group">                    
                    <input type="text" class="form-control" placeholder="Search" name="searchs">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            </div>                   
                 <a href="{%url 'page'%}" class="navbar-brand">awwwards.</a>
            <div class="navbar-nav">
                <a href="/accounts/login/" class="nav-item nav-link">Register/Login</a>
                <a href="{%url 'submit'%}" class="nav-item nav-link " id="cool" style="background-color:rgb(31, 218, 208);color:white;">Submit Your Site!</a>
                    <a href="{%url 'api'%}"><img src="/static/images/images.png" style="width: 30px;height: 30;">
                </a>
            </div>
        </div>
        <div class="navbar-nav"></div>
                {% if user.is_authenticated %}
                
                        <a href="{%url 'profile_display'%}" class="nav-item nav-link">Profile</a>
                        <a href="/logout" class="nav-item nav-link">Logout</a>
                    
                {% else %}
                  <a class="nav-item nav-link" href="/accounts/login">Login</a>
               
          
                {% endif %}</div>
    </nav>
</div>
</body>
</html>                            
  